@charset "UTF-8";

/* 990px 이하 해상도 모두 가능 */
@media all and (max-width:1199px) {
    #header .gap {padding:0;transition:padding .3s;}
}

@media all and (max-width:767px){
    #header .gap .content .logo {width:33.3333333%;}
    #header .gap .content .logo .logo-gap {padding:0;padding-left:15px;}
    #header .gap .content .menu {width:33.3333333%;}
    #header .gap .content .simple-menu {width:33.3333333%;}
    #header .gap .content .simple-menu .simple-gap {padding:0;padding-right:15px;}
}

@media all and (max-width:1200px) and (orientation:landscape) {
}

@media all and (max-width:1200px) and (orientation:portrait) {
}